*{
    font-size: 14px;
    font-family:sans-serif;
}
body{
    background-color: cadetblue;
}
select.selectitem {
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
select:focus{
    outline: none;
}
